body
{
	background-color:#2E373E;
	height:auto;
	min-height: 100%;
	
}
.container
{
	margin-top : 50px !important;
}

.log1
{
	width:112px;
	height:auto;
	position: relative;
	left:41%;
	/*background-color: #38AC57;*/


}